<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <nav>
        <a href="/">Home Page</a>
        <a href="/contato">Contato</a>
        <a href="/produtos">Produtos</a>
        <a href="/cpf">CPF</a>
        <a href="/cnpj">CNPJ</a>

    </nav>

    {% block content %}
    {% endblock %}

    <nav>
        <a href="/termos">Termos de Uso</a>
        <a href="/politica">Políticas de Privacidade</a>
        <a href="uso">Como Utilizar</a>
    </nav>
    <br>

    {% block footer %}
    <footer>
        Desenvolvido por Emanuel Aguilar. 2024.
    </footer>
    {% endblock %}
    
</body>
</html>