{% extends "base.html" %}

{% block title %}Cadastro Produto{% endblock %}

{% block content %}
<h1>Cadastro de Produto</h1>

<form action="/produtos" method="POST">
    <div class="form-control">
        <label for="nome">Nome</label>
        <input type="text" id="nome" name="nome">
    </div>

    <div class="form-control">
        <label for="descricao">Descrição</label>
        <textarea name="descricao" id="descricao">Bom dia</textarea>
        <br><br>
    </div>

    <button type="submit">Cadastrar</button>
    <br><br>

</form>
{% endblock %}