{% extends "bast.html" %}

{% block title %}Termos de Uso{% endblock %}

{% block content %}

    <h1>Termos de Uso</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium hic dolorem esse consequuntur 
        ad recusandae aut corrupti id fuga rem, voluptatibus quidem sit quia libero soluta atque quibusdam suscipit eos.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio quas fugiat, nulla asperiores, aperiam 
        repellendus maxime voluptatem ex debitis, soluta ad consequuntur laborum suscipit? Commodi provident ullam numquam. Mollitia, dolorum.</p>
        
{% endblock %}